body {
    background-color: #663399;
    color: white;
    font-family: "Nunito", sans-serif;
    text-align: center;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  button {
    color: #663399;
    font-family: "Nunito", sans-serif;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
  }
  button:hover {
    cursor: pointer;
    color: white;
    background-color: #d8bfd8;
  }